*.aux
*.dvi
*.lof
*.log
*.lot
*.out
*.pdf
*.ps
*.toc
*.bbl
*.blg
*.synctex.gz
*.DS_Store
*.tmp
*.lox
*.gz
*.synctex
*.nlo
*.bak
*.nav
*.snm
*.exe
*.o
*.cbp
*.depend
*.layout
*.lst
*.out.map
bin
Debug
obj
transcript
temp
*.cbp
*.layout
bin
*.depend
trash
*.wav
.conf*
_cache*
*.hex
*.bak
.waf*
.lock*
*.tmp
*.vrb
*.pyc
Report/Thumbs.db
